## Task 1 - Importing Libraries

In [1]:
# Importing Libraries

import pandas as pd
import numpy as np
import os

## Task 1 - Importing Orders and Products merged dataset

In [2]:
path=r'C:\Users\LENOVO\Desktop\CF - Data Analytics\Achievement 5\Achievement 5 - PROJECT'

# Assigning location of dataset to a variable

In [3]:
df_ords_prods_MERGE=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_new_columns.pkl'))

# Importing pickle file which has Orders and Products Merged dataset

In [4]:
df_ords_prods_MERGE.head(10)

# Checking the first 10 rows of the dataframe

,order_id,user_id,order_number,orders_day_of_week,ordered_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,Busiest Day,Busiest DAYS,Busiest_Period_of_Day
0,2539329,1,1,2,8,0.0,-60,1,0,Soda,77,7,9.0,Mid-range Product,Regularly busy,Regular Days,Average Orders
1,2398795,1,2,3,7,15.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Slow Days,Average Orders
2,473747,1,3,3,12,21.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Slow Days,Most Orders
3,2254736,1,4,4,7,29.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Least busy,Slow Days,Average Orders
4,431534,1,5,4,15,28.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Least busy,Slow Days,Most Orders
5,3367565,1,6,2,7,19.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Regular Days,Average Orders
6,550135,1,7,1,9,20.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Busy Days,Most Orders
7,3108588,1,8,1,14,14.0,-60,2,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Busy Days,Most Orders
8,2295261,1,9,1,16,0.0,-60,4,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Busy Days,Most Orders
9,2550362,1,10,4,8,30.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Least busy,Slow Days,Average Orders

In [6]:
df=df_ords_prods_MERGE[:1000000]

# Creating subset of merged dataset to contain only 1,000,000 rows

In [7]:
df.shape

# Checking the number of rows and columns in the new subset dataframe 'df'

(1000000, 17)

In [8]:
df.head(10)

# Checking the first 10 rows of the new subset dataframe 'df'

,order_id,user_id,order_number,orders_day_of_week,ordered_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,Busiest Day,Busiest DAYS,Busiest_Period_of_Day
0,2539329,1,1,2,8,0.0,-60,1,0,Soda,77,7,9.0,Mid-range Product,Regularly busy,Regular Days,Average Orders
1,2398795,1,2,3,7,15.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Slow Days,Average Orders
2,473747,1,3,3,12,21.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Slow Days,Most Orders
3,2254736,1,4,4,7,29.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Least busy,Slow Days,Average Orders
4,431534,1,5,4,15,28.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Least busy,Slow Days,Most Orders
5,3367565,1,6,2,7,19.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Regular Days,Average Orders
6,550135,1,7,1,9,20.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Busy Days,Most Orders
7,3108588,1,8,1,14,14.0,-60,2,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Busy Days,Most Orders
8,2295261,1,9,1,16,0.0,-60,4,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Busy Days,Most Orders
9,2550362,1,10,4,8,30.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Least busy,Slow Days,Average Orders

# Group By Function

In [9]:
df.groupby('product_name')

# Grouping by product name

# Group By with Aggregation

In [10]:
df.groupby('department_id').agg({'order_number':['mean']})

# Grouping by 'department_id' and aggregating by mean of 'order_number'

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [11]:
df.groupby('department_id')['order_number'].mean()

# Another way to group by 'department_id' and aggregating by mean of 'order_number'

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [12]:
df.groupby('department_id').agg({'order_number':['mean', 'min', 'max']})

# Performing Multiple Aggregations

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

## Task 4 - Group By with Aggregation using transform()

In [13]:
df_ords_prods_MERGE['Max_Order']=df_ords_prods_MERGE.groupby(['user_id'])['order_number'].transform(np.max)

# Grouping by 'user_id' and the maximum order for each user is calculated
# Max. orders for each user is shown in a new colum 'max_orders'

In [14]:
df_ords_prods_MERGE.head(10)

,order_id,user_id,order_number,orders_day_of_week,ordered_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,Busiest Day,Busiest DAYS,Busiest_Period_of_Day,Max_Order
0,2539329,1,1,2,8,0.0,-60,1,0,Soda,77,7,9.0,Mid-range Product,Regularly busy,Regular Days,Average Orders,10
1,2398795,1,2,3,7,15.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Slow Days,Average Orders,10
2,473747,1,3,3,12,21.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Slow Days,Most Orders,10
3,2254736,1,4,4,7,29.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Least busy,Slow Days,Average Orders,10
4,431534,1,5,4,15,28.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Least busy,Slow Days,Most Orders,10
5,3367565,1,6,2,7,19.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Regular Days,Average Orders,10
6,550135,1,7,1,9,20.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Busy Days,Most Orders,10
7,3108588,1,8,1,14,14.0,-60,2,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Busy Days,Most Orders,10
8,2295261,1,9,1,16,0.0,-60,4,1,Soda,77,7,9.0,Mid-range Product,Regularly busy,Busy Days,Most Orders,10
9,2550362,1,10,4,8,30.0,-60,1,1,Soda,77,7,9.0,Mid-range Product,Least busy,Slow Days,Average Orders,10

## Task 4 - Deriving new columns using LOC() to show flags

In [15]:
# Creating loyalty flags based on criteria for each user

df_ords_prods_MERGE.loc[df_ords_prods_MERGE['Max_Order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [17]:
# Creating loyalty flags based on criteria for each user

df_ords_prods_MERGE.loc[(df_ords_prods_MERGE['Max_Order'] <= 40) & (df_ords_prods_MERGE['Max_Order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [18]:
# Creating loyalty flags based on criteria for each user

df_ords_prods_MERGE.loc[df_ords_prods_MERGE['Max_Order'] <= 10, 'loyalty_flag'] = 'New customer'

In [19]:
df_ords_prods_MERGE.dtypes

order_id                    int32
user_id                     int32
order_number                int16
orders_day_of_week           int8
ordered_hour                 int8
days_since_prior_order    float16
product_id                   int8
add_to_cart_order            int8
reordered                    int8
product_name               object
aisle_id                     int8
department_id                int8
prices                    float64
price_range_loc            object
Busiest Day                object
Busiest DAYS               object
Busiest_Period_of_Day      object
Max_Order                   int16
loyalty_flag               object
dtype: object

In [20]:
df_ords_prods_MERGE['loyalty_flag'].value_counts(dropna=False)

# Checking frequency of Regular, Loyal and New customers

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [25]:
df_ords_prods_MERGE[['user_id', 'loyalty_flag', 'order_number']].head(30)

# To check first 30 rows with specific columns - 'user id', 'loyalty flag' and 'order number'

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10

# ----- EXERCISE 5.8 - GROUPING DATA & AGGREGATING VALUES ----

## Task 1 is done at the start of this script

## Task 2

In [27]:
df_ords_prods_MERGE.groupby('department_id')['order_number'].mean()

# Grouping by 'department_id' and aggregating by mean of 'order_number' for Orders and Products merged dataframe

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

## Task 3

#### The mean value of the order_number for each department in the dataframe is LESSER than the mean value found in the subset dataset. This is because the subset dataframe consisted of 1 million rows whereas the original dataframe has 32 million rows.

#### As more values increase, the mean of the order numbers decrease.

## Task 4 is done above - before start of exercise

## Task 5

In [34]:
df_ords_prods_MERGE.groupby('loyalty_flag')['prices'].describe()

# Show all descriptive statistics of customers grouped by loyalty flag and aggregated by product prices

,count,mean,std,min,25%,50%,75%,max
loyalty_flag,,,,,,,,
Loyal customer,10284093.0,10.386336,328.017787,1.0,4.2,7.4,11.2,99999.0
New customer,6243990.0,13.294670,597.560299,1.0,4.2,7.4,11.3,99999.0
Regular customer,15876776.0,12.495717,539.720919,1.0,4.2,7.4,11.3,99999.0

#### Not much can be said from the MIN and MAX values of the product prices. But it can be seen that from the MEAN values that new customers spend more on an average compared to loyal and regular customers.

## Task 6 - Spending Flag

In [21]:
df_ords_prods_MERGE['Average_Spend']=df_ords_prods_MERGE.groupby(['user_id'])['prices'].transform(np.mean)

# Grouping by 'user_id' and calclate the average price on all orders made by each user
# Average money spent for each user is shown in a new colum 'average_price'

In [22]:
df_ords_prods_MERGE.loc[df_ords_prods_MERGE['Average_Spend'] < 10, 'Spend_Flag'] = 'Low Spender'

# If average spend is less than 10, then Low Spender

In [23]:
df_ords_prods_MERGE.loc[df_ords_prods_MERGE['Average_Spend'] >= 10, 'Spend_Flag'] = 'High Spender'

# If average spend is more than or equal to 10, then High Spender

In [29]:
df_ords_prods_MERGE.head(10)

,order_id,user_id,order_number,orders_day_of_week,ordered_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,price_range_loc,Busiest Day,Busiest DAYS,Busiest_Period_of_Day,Max_Order,loyalty_flag,Average_Spend,Spend_Flag
0,2539329,1,1,2,8,0.0,-60,1,0,Soda,...,7,9.0,Mid-range Product,Regularly busy,Regular Days,Average Orders,10,New customer,6.367188,Low Spender
1,2398795,1,2,3,7,15.0,-60,1,1,Soda,...,7,9.0,Mid-range Product,Regularly busy,Slow Days,Average Orders,10,New customer,6.367188,Low Spender
2,473747,1,3,3,12,21.0,-60,1,1,Soda,...,7,9.0,Mid-range Product,Regularly busy,Slow Days,Most Orders,10,New customer,6.367188,Low Spender
3,2254736,1,4,4,7,29.0,-60,1,1,Soda,...,7,9.0,Mid-range Product,Least busy,Slow Days,Average Orders,10,New customer,6.367188,Low Spender
4,431534,1,5,4,15,28.0,-60,1,1,Soda,...,7,9.0,Mid-range Product,Least busy,Slow Days,Most Orders,10,New customer,6.367188,Low Spender
5,3367565,1,6,2,7,19.0,-60,1,1,Soda,...,7,9.0,Mid-range Product,Regularly busy,Regular Days,Average Orders,10,New customer,6.367188,Low Spender
6,550135,1,7,1,9,20.0,-60,1,1,Soda,...,7,9.0,Mid-range Product,Regularly busy,Busy Days,Most Orders,10,New customer,6.367188,Low Spender
7,3108588,1,8,1,14,14.0,-60,2,1,Soda,...,7,9.0,Mid-range Product,Regularly busy,Busy Days,Most Orders,10,New customer,6.367188,Low Spender
8,2295261,1,9,1,16,0.0,-60,4,1,Soda,...,7,9.0,Mid-range Product,Regularly busy,Busy Days,Most Orders,10,New customer,6.367188,Low Spender
9,2550362,1,10,4,8,30.0,-60,1,1,Soda,...,7,9.0,Mid-range Product,Least busy,Slow Days,Average Orders,10,New customer,6.367188,Low Spender

In [34]:
df_ords_prods_MERGE.dtypes

order_id                    int32
user_id                     int32
order_number                int16
orders_day_of_week           int8
ordered_hour                 int8
days_since_prior_order    float16
product_id                   int8
add_to_cart_order            int8
reordered                    int8
product_name               object
aisle_id                     int8
department_id                int8
prices                    float16
price_range_loc            object
Busiest Day                object
Busiest DAYS               object
Busiest_Period_of_Day      object
Max_Order                   int16
loyalty_flag               object
Average_Spend             float16
Spend_Flag                 object
Visit_Frequency           float16
dtype: object

In [27]:
df_ords_prods_MERGE['Average_Spend'] = df_ords_prods_MERGE['Average_Spend'].astype('float16')

# Changing the datatype of the variable 'Average_Spend' from float64 to float16

In [30]:
df_ords_prods_MERGE['prices'] = df_ords_prods_MERGE['prices'].astype('float16')

# Changing the datatype of the variable 'Prices' from float64 to float16

In [32]:
df_ords_prods_MERGE['Spend_Flag'].value_counts(dropna=False)

# Checking the count of different types of customer based on their spend

Low Spender     31770742
High Spender      634117
Name: Spend_Flag, dtype: int64

## Task 7 - Frequency Flag

In [33]:
df_ords_prods_MERGE['Visit_Frequency']=df_ords_prods_MERGE.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

# Grouping by 'user_id' and calculating the median value of last ordered day for all users 
# Frequency of visits for each user is shown in a new column 'Visit Frequency'

In [35]:
df_ords_prods_MERGE.loc[df_ords_prods_MERGE['Visit_Frequency'] > 20, 'Frequency_Flag'] = 'Non-Frequent Customer'

# If visit frequency is more than 20, then Non-Frequent Customer

In [36]:
df_ords_prods_MERGE.loc[(df_ords_prods_MERGE['Visit_Frequency'] > 10) & (df_ords_prods_MERGE['Visit_Frequency'] <= 20), 'Frequency_Flag'] = 'Regular Customer'

# If visit frequency is more than 10 and less than or equal to 20, then Regular Customer

In [37]:
df_ords_prods_MERGE.loc[df_ords_prods_MERGE['Visit_Frequency'] <= 10, 'Frequency_Flag'] = 'Frequent Customer'

# If visit frequency is less than 10, then Frequent Customer

In [39]:
df_ords_prods_MERGE['Frequency_Flag'].value_counts(dropna=False)

# Checking the count of different types of customer based on their visits

Frequent Customer        22796659
Regular Customer          6921472
Non-Frequent Customer     2686728
Name: Frequency_Flag, dtype: int64

In [40]:
df_ords_prods_MERGE.head(30)

# Checking the first 30 rows of the dataframe

,order_id,user_id,order_number,orders_day_of_week,ordered_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,Busiest Day,Busiest DAYS,Busiest_Period_of_Day,Max_Order,loyalty_flag,Average_Spend,Spend_Flag,Visit_Frequency,Frequency_Flag
0,2539329,1,1,2,8,0.0,-60,1,0,Soda,...,Mid-range Product,Regularly busy,Regular Days,Average Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer
1,2398795,1,2,3,7,15.0,-60,1,1,Soda,...,Mid-range Product,Regularly busy,Slow Days,Average Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer
2,473747,1,3,3,12,21.0,-60,1,1,Soda,...,Mid-range Product,Regularly busy,Slow Days,Most Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer
3,2254736,1,4,4,7,29.0,-60,1,1,Soda,...,Mid-range Product,Least busy,Slow Days,Average Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer
4,431534,1,5,4,15,28.0,-60,1,1,Soda,...,Mid-range Product,Least busy,Slow Days,Most Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer
5,3367565,1,6,2,7,19.0,-60,1,1,Soda,...,Mid-range Product,Regularly busy,Regular Days,Average Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer
6,550135,1,7,1,9,20.0,-60,1,1,Soda,...,Mid-range Product,Regularly busy,Busy Days,Most Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer
7,3108588,1,8,1,14,14.0,-60,2,1,Soda,...,Mid-range Product,Regularly busy,Busy Days,Most Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer
8,2295261,1,9,1,16,0.0,-60,4,1,Soda,...,Mid-range Product,Regularly busy,Busy Days,Most Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer
9,2550362,1,10,4,8,30.0,-60,1,1,Soda,...,Mid-range Product,Least busy,Slow Days,Average Orders,10,New customer,6.367188,Low Spender,20.0,Regular Customer
10,2968173,15,15,1,9,7.0,-60,2,0,Soda,...,Mid-range Product,Regularly busy,Busy Days,Most Orders,22,Regular customer,3.980469,Low Spender,8.0,Frequent Customer
11,1870022,15,17,2,16,8.0,-60,6,1,Soda,...,Mid-range Product,Regularly busy,Regular Days,Most Orders,22,Regular customer,3.980469,Low Spender,8.0,Frequent Customer
12,1911383,15,18,2,11,7.0,-60,1,1,Soda,...,Mid-range Product,Regularly busy,Regular Days,Most Orders,22,Regular customer,3.980469,Low Spender,8.0,Frequent Customer
13,2715276,15,21,1,9,7.0,-60,1,1,Soda,...,Mid-range Product,Regularly busy,Busy Days,Most Orders,22,Regular customer,3.980469,Low Spender,8.0,Frequent Customer
14,487368,15,22,1,10,14.0,-60,1,1,Soda,...,Mid-range Product,Regularly busy,Busy Days,Most Orders,22,Regular customer,3.980469,Low Spender,8.0,Frequent Customer
15,2293453,19,2,5,14,6.0,-60,3,0,Soda,...,Mid-range Product,Regularly busy,Regular Days,Most Orders,9,New customer,8.375000,Low Spender,6.0,Frequent Customer
16,1973799,19,5,6,12,8.0,-60,15,1,Soda,...,Mid-range Product,Regularly busy,Regular Days,Most Orders,9,New customer,8.375000,Low Spender,6.0,Frequent Customer
17,532817,19,7,4,17,6.0,-60,1,1,Soda,...,Mid-range Product,Least busy,Slow Days,Average Orders,9,New customer,8.375000,Low Spender,6.0,Frequent Customer
18,1573906,21,10,3,10,6.0,-60,2,0,Soda,...,Mid-range Product,Regularly busy,Slow Days,Most Orders,33,Regular customer,7.011719,Low Spender,7.0,Frequent Customer
19,1593000,31,10,3,8,7.0,-60,17,0,Soda,...,Mid-range Product,Regularly busy,Slow Days,Average Orders,20,Regular customer,8.140625,Low Spender,6.0,Frequent Customer
20,2231262,31,17,3,11,8.0,-60,14,1,Soda,...,Mid-range Product,Regularly busy,Slow Days,Most Orders,20,Regular customer,8.140625,Low Spender,6.0,Frequent Customer
21,2580647,43,6,4,16,4.0,-60,9,0,Soda,...,Mid-range Product,Least busy,Slow Days,Most Orders,11,Regular customer,7.445312,Low Spender,10.0,Frequent Customer
22,2187180,43,9,4,12,3.0,-60,1,1,Soda,...,Mid-range Product,Least busy,Slow Days,Most Orders,11,Regular customer,7.445312,Low Spender,10.0,Frequent Customer
23,2497897,52,1,1,9,0.0,-60,4,0,Soda,...,Mid-range Product,Regularly busy,Busy Days,Most Orders,27,Regular customer,6.355469,Low Spender,8.0,Frequent Customer
24,1318871,52,2,1,10,7.0,-60,5,1,Soda,...,Mid-range Product,Regularly busy,Busy Days,Most Orders,27,Regular customer,6.355469,Low Spender,8.0,Frequent Customer
25,1261384,52,3,1,10,7.0,-60,3,1,Soda,...,Mid-range Product,Regularly busy,Busy Days,Most Orders,27,Regular customer,6.355469,Low Spender,8.0,Frequent Customer
26,580568,52,5,2,10,8.0,-60,6,1,Soda,...,Mid-range Product,Regularly busy,Regular Days,Most Orders,27,Regular customer,6.355469,Low Spender,8.0,Frequent Customer
27,2428073,52,7,2,7,8.0,-60,5,1,Soda,...,Mid-range Product,Regularly busy,Regular Days,Average Orders,27,Regular customer,6.355469,Low Spender,8.0,Frequent Customer
28,342306,52,9,1,11,7.0,-60,5,1,Soda,...,Mid-range Product,Regularly busy,Busy Days,Most Orders,27,Regular customer,6.355469,Low Spender,8.0,Frequent Customer
29,1520353,52,10,2,10,8.0,-60,4,1,Soda,...,Mid-range Product,Regularly busy,Regular Days,Most Orders,27,Regular customer,6.355469,Low Spender,8.0,Frequent Customer

## Task 9

In [41]:
df_ords_prods_MERGE.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_newflags.pkl'))
                                          
# Exporting dataset in pickle format